	#amrsTitle{
		float: left;
		text-align: left;
		margin: 5px;
	}
    
    #amrsUserBar {
    	float: right;
		text-align: right;
		padding: 0px 3px 0px 3px;
		margin: 0px;
		color: #333333;
		background-color: #ffffff;
	}
	
	#amrsContent{
		position: relative;
		clear: both;
		margin: 5px;
	}
	
    #floating {
    	width: 30%;
    	background-color: #ffffff;
    	top: 25px;
    	right: 5px;
        position: fixed;
    	font-size: 12px;
    }
	
	h2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

    .tabBoxes {
        padding: 3px;
    }

    .addNew {
        font-size: 10px;
        float: right;
        cursor: pointer;
    }
    
    .newError {
        right: 10px;
        font-size: 10px;
    }

    .close {
        right: 5px;
        top: 5px;
        font-size: 10px;
        cursor: pointer;
    }
    
    #mask {
        position:absolute;
        left:0;
        top:0;
        z-index:9000;
        background-color:#000;
        display:none;
    }

    #boxes .window {
    	font-size: 14px;
        position:absolute;
        left:0;
        top:0;
        display:none;
        z-index:9999;
        padding:20px;
    }

    #boxes #dialog {
    	font-size: 14px;
        padding:10px;
        background-color:#ffffff;
    }
    
    #main {
    	position: relative;
    }
	
    #searchHighlight {
		cursor: pointer;
		background-color: #F0E68C;
    }
	
	#summaryHeading {
		border: 1px solid lightgray;
		margin: 5px;
		padding: 5px;
		width: 60%;
	}
	
	#headingName {
		font: bold 2.3em verdana;
		border-bottom: 1px solid lightgray;
		margin-left: 5px;
		float: left;
	}
	
	.headingElement {
		white-space: nowrap;
		vertical-align: top;
		padding: 5px;
		font: bold 0.8em verdana;
	}
	
	.summaryInfo {
		border: 1px solid lightgray;
		margin: 5px;
		padding: 5px;
		width: 60%;
	}
	
	.infoHeading {
		font-weight: bold;
		border-bottom: 1px solid lightgray;
	}
	
	#headingPreferredIdentifier{
		font: bold 1.6em verdana;
		margin:10px;
		vertical-align: middle;
		text-align: left;
		float: right;
	}