	#amrsTitle{
		float: left;
		text-align: left;
		margin: 5px;
	}
    
    #amrsUserBar {
    	float: right;
		text-align: right;
		padding: 0px 3px 0px 3px;
		margin: 0px;
		color: #333333;
		background-color: #ffffff;
	}
	
	#amrsContent{
		position: relative;
		clear: both;
		margin: 5px;
		height: 80%;
	}
	
    #floating {
    	width: 30%;
    	background-color: #ffffff;
    	top: 50px;
    	right: 50px;
        position: fixed;
    	font-size: 11px;
    }
	
	h2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

    .tabBoxes {
        padding: 3px;
    }

    .addNew {
        margin-right: 10px;
        font-size: 10px;
        float: right;
        cursor: pointer;
    }
    
    .newError {
        right: 10px;
        font-size: 10px;
    }

    .close {
        right: 5px;
        top: 5px;
        font-size: 10px;
        cursor: pointer;
    }
    
    #mask {
        position:absolute;
        left:0;
        top:0;
        z-index:9000;
        background-color:#000;
        display:none;
    }

    #boxes .window {
    	font-size: 11px;
        position:absolute;
        left:0;
        top:0;
        display:none;
        z-index:9999;
        padding:20px;
    }

    #boxes #dialog {
    	font-size: 11px;
        padding:10px;
        background-color:#ffffff;
    }
    
    #main {
    	position: relative;
    }
	
    #searchHighlight {
		cursor: pointer;
		background-color: #F0E68C;
    }