td.leftCell{
  border-left: 1px #8abcf7 solid;
}
td.rightCell{
  border-right: 1px #8abcf7 solid;
}
tr.rowCell{
  border:none;
}
th.headerCell{
  border: 1px #8abcf7 solid;
  background: #8abcf7;
  color:white;
}

